header {
	text-align: center;
	margin-bottom: 40px;
}

.intro-question {
	margin-top: 120px;
	text-align: center;
}

.survey {
	display: none;
	text-align: left
}

.us-only {
	display: none;
	text-align: center;
}

.result1 {
	display: none;
	text-align: center;
}

.result1 img {
	position: center;
}

.result2 {
	display: none;
	text-align: center;
}

.result2 img { 
	position: center;
}

.result3 {
	display: none;
	text-align: center;
}

.result3 img { 
	position: center;
}